#colophon {
	background-color: $c-text;
	color: $c-background_body;
	margin: 2em 0 0;
	padding: 1em 0;
	text-align: center;
	
	@include mappy-bp(screen-sm) {
		text-align: left;	
	}

	a {
		color: $c-background_body;
	}

	.site-info {
		width: 95%;
		margin: 0 auto;
		
		@include mappy-bp(screen-sm) {
			display: flex;
			flex-wrap: wrap;
			// justify-content: space-between;	
			justify-content: center;	
		}

		> div {
			margin: 0 0 1em;

			@include mappy-bp(screen-sm) {
				margin: 0;	
			}
		}

		.footer-privacy {
			@include mappy-bp(screen-sm) {
				margin-left: 5px;	
			}
		}
	}

	.about {
		display: flex;
		flex-direction: column;

		@include mappy-bp(screen-sm) {
			flex-direction: row;	
		}

		span.sep {
			display: none;

			@include mappy-bp(screen-sm) {
				display: inline;	
			}
		}
	}

	p {
		margin: 0;
	}

	.made-by {
		a {
			@include text-hide();
			@include getin-sign(white);
		}
	}
}