#masthead {
  width: 100%;
  padding: 0;
  background-color: $masthead-bgcolor;

  .inner {
    width: 95%;
    max-width: 1800px;
    position: relative;
    margin: 0.5em auto;

    @include mappy-bp(screen-md) {
    	display: flex;
    	align-items: center;
    }
  }

  .site-branding {
    display: flex;
    align-items: center;
    margin: 0;

    img {
      display: block;
      width: 45px;
      height: auto;

      @include mappy-bp(screen-xs) {
       width: 64px; 
      }

      @include mappy-bp(screen-md) {
        width: 50px; 
      }

      @include mappy-bp(screen-lg) {
       width: 64px; 
      }
    }

    .site-title {
      white-space: nowrap;
      margin: 0;

      a {
        text-decoration: none;
        color: #13100d;
        font-weight: 700;
        font-size: 0.75rem;

        @include mappy-bp(screen-xs) {
          font-size: 1rem;
        }

        @include mappy-bp(screen-lg) {
          font-size: 1.25rem;
        }
      }
    }
  }

}