.page-template-homepage {

	.home-intro {
		margin-top: -7rem;
		position: relative;
		z-index: 2;

	    @include mappy-bp(screen-md) {
	      display: flex;
	      flex-wrap: wrap;
	      align-items: flex-end;
	      justify-content: space-between; 
	      width: 98%;
	      margin-top: -10rem; 
	    }
	}

	.last-news {
		background-color: #fff;
		padding: 2em;
		width: 90%;
		margin: 2em auto 0;

	    @include mappy-bp(screen-md) {
	      width: 30%;  
	      margin: 0;
	    }

	    h2 {
	    	position: relative;

	    	&:after {
			    border: .15rem solid #e30613;
			    bottom: -.5rem;
			    content: "";
			    left: 0;
			    position: absolute;
			    width: 3rem;
	    	}
	    }

	    ul {
	    	li {
	    		list-style: square;

	    		h4 {
	    			font-size: 1.25rem;
	    			font-weight: 700;
	    			margin: 0;
	    			color: $c-text;
	    		}

	    		p {
	    			font-style: italic;
	    			color: $c-text;
	    		}

	    		a {
	    			display: block;
	    			text-decoration: none;

	    			&:hover {
	    				h4 {
	    					color: $red;
	    				}
	    			}
	    		}
	    	}
	    }
	}

	div.badge {
		position: absolute;
		width: 6rem;
		top: -3rem;
		right: 0;

		@include mappy-bp(screen-sm) {
		width: 8rem;
		top: -4rem;
		}

		@include mappy-bp(screen-md) {
			right: -4rem;	
		}

		@include mappy-bp(screen-lg) {
			width: 10rem;
			top: -5rem;
			right: -5rem;
		}
	}

	ul.related_pages {
		width: 90%;
		margin: 2em auto 0;

		@include mappy-bp(screen-md) {
			width: 95%;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;	
		}

		li {
			@include mappy-bp(screen-md) {
				width: 31.333333333%;	
			}
		}
	}

	.home-header {
		padding: 2em 0 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	ul.networks {
		@include reset-list();
		display: flex;
		margin-top: 0.25em;
		
		li {
			a {
				display: block;
				width: 25px;
				height: 25px;

				&.facebook {
					background: transparent url('img/facebook.svg') 0 0 no-repeat;
					background-size: cover;
					margin-right: 5px;
				}

				&.instagram {
					background: transparent url('img/instagram.svg') 0 0 no-repeat;
					background-size: cover;
				}

				span {
					display: none;
				}
			}
		}
	}

}